In [ ]:
import pandas as pd 
# para cargar un fichero csv no necesito instalar ninguna libreria adicional 
january2019 = pd.read_csv(r"C:\Users\formacio\Downloads\January 2019 (1).csv")
january2019

In [ ]:
#Para ver informacion del dataframe 
january2019.info()

In [ ]:
#Para ver los primeros n registros (empezando desde el 0)
january2019.head(6)

In [ ]:
#Para ver los ultimos n registros (empezando desde el 0)
january2019.tail(3)

In [ ]:
#Para ver solo 1 registro
january2019['Country']
#de ese registro ver los primeros 5
january2019['Country'].head(5)
# Muestra los primeros 5 registros y luego ordenas de arriba abajo
january2019['Country'].head(5).sort_values(ascending=True)
#Si los quiero primero ordenar y luego muestra los primeros 5 de ese orden 
january2019['Country'].sort_values(ascending=True).head(5)

In [ ]:
# Crear una columna y despues la vamos a eliminar
january2019['AEliminar'] = "AEliminar"
january2019

In [ ]:
#como eliminar una columna, con axis=1 eliminamos columnas y con axis=0 eliminamos filas
january2019 = january2019.drop(['AEliminar'],axis=1)
january2019

In [ ]:
# Si queremos eliminar sin poner el dataframe a la izquierda, puedo usar el inplace 
january2019.drop(['AEliminar'], axis=1,inplace=True)
january2019

In [ ]:
# Si quiero ordenar un dataframe entero por un campo 
january2019.sort_values(ascending=True, by='Customer', ignore_index=True)

In [ ]:
#Ver los 3 primero registros cuyas unidades (Units) sean mayor de 100
january2019[january2019['Units']>100].sort_values(ascending=True, by='IdOrder').head(3)

In [ ]:
 # un accesor es un metodo que se llama mediante la anotacion de un punto y nos muestra otrdo metodos relacionados con el accesor
# Ver los registros cuyo nombre custumers contenga la palabra industries 
# el accesor str
filtro = january2019['Customer'].str.contains('Industries')
january2019[filtro].tail(10)

In [ ]:
#El wildcard el comodin
#c.* que contiene la c y cualquier cosa
filtro = january2019['Customer'].str.contains('c.*')
january2019[filtro]

In [ ]:
# Startswith empieza por C
filtro = january2019['Customer'].str.startswith('C')

In [ ]:
#endswith termina por s tiene que ser minuscula o mayuscula porque no distingue 
filtro = january2019['Customer'].str.endswith('s')
january2019[filtro]

In [ ]:
import pandas as pd 
february2019 = pd.read_csv(r"C:\Users\formacio\Downloads\February 2019 (1).csv")
february2019

In [ ]:
# Como anexar 2 dataframes, anexar significa poner filas una debajo de otras, 
#para anexar usaremos concat (pero los dos dataframes deben tener la misma estructura
#es decir mismo numeros de columnas y mismos nombres de campo)
dosmeses = pd.concat([january2019, february2019],ignore_index=True)
dosmeses

In [ ]:
# Practica 26 
# Clonar el dataframe january2019 que contenga solamente los customers cuyo nombre contenga la palabra systems y ordenarlos de la A-Z
filtro = january2019['Customer'].str.contains('Systems')
january20192 = january2019[filtro].sort_values(ascending=True, by='Customer')
january20192

#asi lo hice yo 
#january20192 = january2019 ['Customer'].str.contains('Systems.*').sort_values(ascending=True)
#january2019[january20192]

In [ ]:
#Practica 27
# Del dataframe dosmeses ver en un texto el numero de customers cuyo nombre termina por n 
filtro = dosmeses['Customer'].str.endswith('n')
numero_customers = dosmeses[filtro].IdOrder.count()
print("El  numero de clientes que termina por n es", numero_customers)

#dosmeses2 = dosmeses['Customer'].str.endswith('n')
#dosmeses[dosmeses2]

In [ ]:
#Practica 28 
# del dataframe dosmeses ver los 10 primeros customers cuyo country sea = canada 
dosmeses[dosmeses['Country']=='Canada'].head(10)


#dosmeses2 = dosmeses['Country'].str.contains('Canada')
#dosmeses[dosmeses2].sort_values(ascending=True, by='Customer').head(10)

In [ ]:
#Practica 29
#Obtener el dataframe trimestre (january a March y ver en un texto la suma total de revenue 
# despues de aplicar un descuento  del 5,63% si el country es 'Colombnia')

import pandas as pd 
march2019 = pd.read_csv(r"C:\Users\formacio\Downloads\March 2019 (1).csv")

trimestre = pd.concat([january2019, february2019, march2019],ignore_index=True)

def descuento(pais):
    if pais == 'Colombia':
        return 0.0563
    else:
        return 0

trimestre['Descuento'] = trimestre['Country'].apply(descuento)
trimestre['Revenue'] = round(trimestre['Revenue']*(1-trimestre['Descuento']),2)
trimestre.Revenue.sum()

pais = trimestre['Country'].str.contains('Colombia')
trimestre[pais]

#pedidos['Precio Unidad 3'] = round(pedidos['Precio Unidad']*1.15,2)

#january2019[january2019['Units']>100].sort_values(ascending=True, by='IdOrder').head(3)

,IdOrder,Date,Country,Units,Revenue,Customer,Descuento
12,13,2019-01-15,Colombia,201,2827.21,BiffCo,0.0563
13,14,2019-01-19,Colombia,142,2249.46,OCP,0.0563
16,17,2019-01-15,Colombia,392,15315.91,Cyberdyne Systems,0.0563
17,18,2019-01-30,Colombia,60,1180.37,Abstergo Industries,0.0563
20,21,2019-01-11,Colombia,175,7399.56,BiffCo,0.0563
...,...,...,...,...,...,...,...
702,703,2019-03-17,Colombia,249,4109.78,Nakatomi Trading,0.0563
708,709,2019-03-06,Colombia,225,8728.95,Hexagon Global,0.0563
709,710,2019-03-12,Colombia,26,334.90,Globex Corporation,0.0563
711,712,2019-03-31,Colombia,240,137.14,Stark Industries,0.0563
714,715,2019-03-17,Colombia,212,291.85,Umbrella Corp,0.0563

In [83]:
# Otra solucion del 29 

#tener un dataframe con los clientes de colombia
trimestrec = trimestre[trimestre['Country']=='Colombia']

#tener otro dataframe con los clientes que no son de colombia
trimestrenc = trimestre[trimestre['Country']!='Colombia'] 

#el descuento al dataframe de colombia dek 5.63%
trimestrec['Revenue'] = trimestrec['Revenue']*1-0.01563

#concateno
resultado = pd.concat([trimestrec,trimestrenc], ignore_index=True)
print("La suma aplicando dto a los pedidos de colombia es", round(resultado['Revenue'].sum(),2))

La suma aplicando dto a los pedidos de colombia es 4826007.06

C:\Users\formacio\AppData\Local\Temp\ipykernel_768\977036884.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimestrec['Revenue'] = trimestrec['Revenue']*1-0.01563