In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for numero in numeros:
    print(numero)

In [ ]:
#Dominar la función range, solo genera numeros de manera consecutiva y que le podemos dar un step o incremento
lista_numeros = range(10)   #Genera numeros del 0 al 9, por un total de 10 numeros
#Para ver la lista de numeros, usaremos la función list
print(list(lista_numeros))

In [ ]:
#Dandole a range un valor inicial y final
lista_numeros = range(10,30)    #Genera numeros del 10 al 29, por un total de 20 numeros
print(list(lista_numeros))

In [ ]:
lista_numeros = range(10,30,2)    #Genera numeros pero me lo incrementa de 2 en 2
print(list(lista_numeros))

In [ ]:
lista_numeros = range(100,30,-3)    #una lista regresiva, de 100 a 30, pero me lo decrementa de 3 en 3
print(list(lista_numeros))

In [ ]:
iter = 1
for i in range(10,25):
    print("El valor de la lista es",i)
    print("El numero de iteración es",iter)
    iter = iter +1
    #iter += 1 esto tambien es válido
print("El numero de iteracciones es",iter-1)

PRACTICA 6: SIN USAR LA IA EN VISUAL STUDIO CODE, MEDIANTE UN BUCLE FOR, RECORRER LA LISTA SEMANA (LUNES A DOMINGO) Y MOSTRAR EN UN TEXTO "EL DIA DE LA SEMANA ES AAA"

PRACTICA 7: SIN USAR LA IA EN VISUAL STUDIO CODE, MEDIANTE UN BUCLE FOR, RECORRER LA LISTA MESES (ENERO-DICIEMBRE) Y PONER EN UN TEXTO "EL PRIMER MES DEL AÑO ES ENERO", "EL SEGUNDO MES DEL AÑO ES FEBRERO",

In [ ]:
lista4 = range(10)
lista4 = list(lista4)
lista4

In [ ]:
#Practica 6
semana = ['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo']

for dia in semana:
    print("El dia de la semana es",dia)

In [ ]:
#Practica 7
meses = ["Enero",'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto',
         'Septiembre','Octubre','Noviembre','Diciembre']
ordinal = ['primer','segundo','tercero','cuarto','quinto','sexto',
           'primer','segundo','tercero','cuarto','quinto','sexto']

iter = 0
for mes in meses:
    print("El",ordinal[iter],"mes es",mes)
    iter+=1

Las funciones de logica AND y OR, permiten combinarlas con el if. OR analizar varias condiciones o pruebas logicas si se cumple una de ellas ya es verdadero y el AND si se cumplen todas es verdadero, con el AND podia clasificar valores dentro de un tramo y con el or fuera del tramo

In [ ]:
Ciudad = "Barcelona"
Importe = 750
if Ciudad=="Barcelona" or Importe>1000:
    print("Descuento")
else:
    print("No hago Descuento")

In [ ]:
Ciudad = "Barcelona"
Importe = 750
if Ciudad=="Barcelona" and Importe>1000:
    print("Descuento")
else:
    print("No hago Descuento")

PRACTICA 8: Con un bucle for recorrer la siguiente lista de numeros, [5,-8,145,36,75,62,-20,41,25,19], clasificar los numero por tramos de 30 en 30 comenzando por 0 y terminado por 120 Se tiene que ver un texto que diga, "el numero 5 esta comprendido entre 0-30"...Os dejo 3-4 minutos y resolvemos esta practica 8

In [ ]:
numeros = [5,-8,145,36,75,62,-20,41,25,19]
numeros.sort()

for numero in numeros:
    if numero<0 or numero>120:
        print("El numero",numero,"esta fuera de intervalo")
    elif numero>=0 and numero<=30:
        print("El numero",numero,"esta comprendido entre 0-30")
    elif numero>30 and numero<=60:
        print("El numero",numero,"esta comprendido entre >30-60")
    elif numero>60 and numero<=90:
        print("El numero",numero,"esta comprendido entre >60-90")
    elif numero>90 and numero<=120:
        print("El numero",numero,"esta comprendido entre >90-120")

COMO SALIR DE UN BUCLE, SERA CON LA FUNCIÓN BREAK

In [ ]:
for dia in semana:
    if dia=="Miercoles":
        break
    print(dia)

In [ ]:
palabra = "Domingo"
for letra in palabra:
    if letra=="n":
        #Termina el bucle
        break
    print("La letra es",letra)

In [ ]:
palabra = "Domingo"
for letra in palabra:
    if letra=="n":
        #Salta la iteración
        continue
    print("La letra es",letra)

In [ ]:
#Metodos interesantes de la clase string (str), upper = mayusculas, lower = minusculas
#replace = reeplaza valores, split = dividir una cadena, por defecto por espacios en blanco
#aunque se le puede decir el caracter que dividen, join para juntar, len = el numero de caracteres
#contains = para averiguar si una cadena contiene uno o varios caracteres
print(palabra.upper())
print(palabra.lower())
print(palabra.replace("o","&"))
#El original se mantiene, si lo quiero modificar palabra = palabra.upper()

In [ ]:
frase = "Este/es/un/curso/de/Python"
frase2 = frase.split('/')  #esto me separa las palabras por espacio en blanco, si no le
#indico el o los caracteres entre comillas
frase2[5]

In [ ]:
semana_total = "-".join(semana)
semana_total

In [ ]:
fecha = ['03','07','2025']
resultado = "/".join(fecha)
resultado

In [ ]:
print(len(meses))
print(len(palabra))

PRACTICA 9: MEDIANTE LA LISTA DE NUMEROS SIGUIENTE [28,15,32,7,44,35,62,76] IMPRIMIR POR INDIVIDUAL LOS NUMEROS HASTA QUE LA SUMA DE LOS NUMEROS YA IMPRESOS SEA MENOR DE 180

PRACTICA 10: MOSTRAR EN UN TEXTO, SOLO LA CUARTA PALABRA DE LA VARIA FRASE = "ESTO ES UNA FRASE DE PRUEBA PARA LA PRACTICA 10"

PRACTICA 11: JUNTAR EN UNA VARIABLE LOS DIAS DE LA SEMANA, PERO JUNTADOS CON LA #. Y VER EL VALOR DE LA VARIABLE EN MAYUSCULAS

In [ ]:
#Practica 9
numeros =  [28,15,32,7,44,35,62,76]
acumulado = 0
for numero in numeros:
    acumulado = acumulado + numero
    if acumulado>180:
        break
    else:
        print("El numero es",numero, "y el acumulado es",acumulado)

In [ ]:
#Practica 10
frase = "ESTO ES UNA FRASE DE PRUEBA PARA LA PRACTICA 10"
lista_frase = frase.split()
lista_frase[3]

In [ ]:
#Practica 11
semana_junto = "#".join(semana).upper()
semana_junto

¿QUE ES UNA FUNCIÓN?. ES UN CODIGO QUE DEVUELVE UN RESULTADO. PARA CREAR UNA FUNCIÓN DEBEMOS CONOCER SU SINTAXIS. LA PALABRA CLAVE def, EL NOMBRE DE LA FUNCIÓN (NO PUEDE CONTENER NI ESPACIOS EN BLANCO, NI CARACTERES ESPECIALES, NO EMPEZAR POR NUMERO), EL PARENTESIS DE APERTURA "(", DESPUES VENDRAN LOS PARAMETROS (LOS VALORES QUE LE PASO A LA FUNCIÓN SI TENGO +1 PARAMETRO VAN SEPARADOS POR COMAS), FINALMENTE EL PARENTESIS DE CIERRE ")". LOS : AL FINAL

In [ ]:
def suma3(x):
    #Para devolver el valor 2 opciones, print me devuelve un texto
    print("el resultado es",x+3)
    #la segunda return
#Aqui termina la función, una cosa es crear la función, tengo que ejecutar este codigo
#para que la función este en el kernel
#llamar a la función para usarla
suma3(22)

In [ ]:
def suma6(x):
    return x+6
#Cuando hago la llamsda
suma6(6)+6

In [ ]:
#Ejemplo con 2 parametros
def sumaab(a,b):
    #En la función debo proteger el tipo integer o float
    return int(a)+int(b)
#Paso los valores
a = input("Pon el valor de a")
b = input("Pon el valor de b")
#Llamó a la función
sumaab(a,b)

PRACTICA 12: CREAR UNA FUNCIÓN QUE NOS DEVUELVA EL TEXTO "EL RESULTADO ES X", Y LA FUNCIÓN TIENE QUE RESTAR 4 AL PARAMETRO Y DIVIRLO POR 2

PRACTICA 13: CREAR UNA FUNCIÓN QUE NOS DEVUELVA EL AREA DE UN TRIANGULO, PASARLE LOS VALORES MEDIANTE INPUT

PRACTICA 14: CREAR UNA FUNCIÓN QUE NOS DEVUELVA EL NOMBRE DEL MES EN LETRAS, SI LE PASAMOS A LA FUNCIÓN UN NUMERO EN UN INPUT (WARNING SI ESE NUMERO NO ES ENTRE 1-12)

PRACTICA 15: CREAR UNA FUNCIÓN QUE COMPARE 2 VALORES A Y B, Y NOS DEVUELVO EN UN TEXTO LOS 3 POSIBLES RESULTADOS "A ES MAYOR QUE B", "A ES MENOR QUE B", "A Y B SON IGUALES", SUSTITUIR POR LOS VALORES QUE SE LE PASAN A LA FUNCIÓN

In [ ]:
#Practica 12
def resta4D2(x):
    #Con los parentesis establezco la prioridad
    resultado = (int(x)-4)/2
    print("El resultado es",resultado)
#Llamar a la función
resta4D2(input("Pon el numero"))

In [ ]:
#Practica 13 Area del triangulo
def area_triangulo(base,altura):
    #if int(base)>0 and int(altura)>0:
    #Calcular el area del triangulo, base por altura y partido por 2
    resultado = (int(base)*int(altura))/2
    return resultado
    print("El area del triangulo es",resultado)
#LLamar a la función
base = input("Ponga la base")
altura = input("Ponga la altura")
area_triangulo(base,altura)

In [ ]:
area_triangulo(altura=35,base=86)

In [ ]:
#Practica 14
def devuelve_mes(num):
    #meses = [] se recomienda que la función tenga todos los recursos
    if num>=1 and num<=12:
        print("El mes de",num,"en letras es",meses[num-1])
    else:
        print("El numero de mes introducido no es valido 1-12")
#Hago la llamada con el input
devuelve_mes(int(input("Ponga el mes en numero")))
#Otras opciones con match...case, o con el if
#match num
#    case 1:
#        print("Enero")